%div.p-3.text-gray-600.static
  .flex
    %p image
    .ml-3.flex.flex-col
      %h1.font-bold.text-gray-900.text-base= course.title
      %p.text-xs= course.instructor.full_name
  %div.mt-4
    %p.text-base.text-gray-700= course.description
  %div.mt-4
    %ul
      %li.text-xs Fundamentals of working with Angular
      %li.text-xs Fundamentals of working with Angular
      %li.text-xs Fundamentals of working with Angular
      %li.text-xs Fundamentals of working with Angular
      %li.text-xs Fundamentals of working with Angular
      %li.text-xs Fundamentals of working with Angular
      %li.text-xs Fundamentals of working with Angular
  %div.mt-4.flex.justify-between.items-center
    %div.flex.flex-col
      %span.text-xs #{course.duration} hours 
      %span.text-xs 12 lessons
      %span.text-xs= course.level 
    %div
      =link_to 'Watch Trailer', course_path(course), class: 'inline-block px-5 py-3 rounded bg-teal-500 text-white hover:bg-teal-600 '

